:root {
    --first-color: #1f1d08;
    --second-color: #94ae3f;
    --third-color: #ebebeb;
    --fourth-color: #243754;
    --fifth-color: #101321;
}
* {
    font-family: "Jura", sans-serif;
    box-sizing: border-box;
}
/* ОБЩАЯ РАЗМЕТКА СТРАНИЦЫ */
html {
    height: 100%;
}
.body {
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    background: url(img/bg_main_car.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-attachment: fixed;
    width: 1280px;
}
.header {
    background: linear-gradient(180deg, rgba(31,29,8,1), rgba(235,235,235,0));
    display: grid;
    grid-template-areas: "logo title name_span name"
                         "logo menu  menu      menu";
    padding: 20px;
    margin: 0;
    width: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 100px 0;
    padding: 20px 10px;
}
.footer {
    background: linear-gradient(0deg, rgba(31,29,8,1), rgba(235,235,235,0));
    display: flex;
    flex-direction: row;
}
@media (max-width: 1280px) {
    .body {
        width: 800px;
    }
}
@media (max-width: 800px) {
    .body {
        width: 320px;
    }
    .header {
        padding: 5px;
    }
    .footer {
        flex-direction: column;
    }
}

/* ДЕТАЛИЗИРОВАННАЯ РАЗМЕТКА HEADER */
.header__logo {
    grid-area: logo;
    object-fit: cover;
    width: 320px;
}
.header__title {
    grid-area: title;
    font-weight: lighter;
    color: var(--third-color);
    font-size: 40px;
    text-transform: uppercase;
    user-select: none;
    margin: 0;
    display: flex;
    align-items: center;
}
.header__dash {
    grid-area: name_span;
    width: 2px;
    height: 100px;
    background: var(--third-color);
    align-self: center;
    margin: 0;
}
.header__name {
    grid-area: name;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--third-color);
    user-select: none;
    margin: 0;
    display: flex;
    align-items: center;
}
.header__nav {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    padding: 40px 20px 0;
}
.nav__item {
    width: 135px;
    line-height: 3em;
    text-align: center;
    cursor: pointer;
    transform: skewX(-15deg);
    background-color: var(--fifth-color);
    color: var(--third-color);
    font-size: 1.2em;
    text-decoration: none;
    transition: all .15s ease-out;
}
.nav__item-active {
    z-index: 2;
    background: var(--second-color);
    transform: scale(1.05) skewX(-15deg) translateY(-2px);
    box-shadow: 3px 3px 1px var(--third-color);
    color: var(--fifth-color);
}
.nav__item:hover,
.nav__item:focus {
    background: #a5c246;
    transform: scale(1.05) skewX(-15deg) translateY(-2px);
    z-index: 1;
    color: var(--fifth-color);
}

@media (max-width: 1280px) {
    .header {
        grid-template-areas: "logo title title"
                             "logo name name"
                             "menu menu menu";
    }
    .header__logo {
        width: 250px;
    }
    .header__title {
        font-size: 2em;
        border-bottom: 1px solid white;
    }
    .header__dash {
        display: none;
    }
    .header__name {
        font-size: 3em;
    }
    .nav__item {
        width: 17%;
        line-height: 2.5em;
    }
    
}
@media (max-width: 800px) {
    .header {
        grid-template-areas: "logo"
                             "title"
                             "name"
                             "menu";
    }
    .header__logo {
        width: 70%;
        padding: 15px;
        box-sizing: border-box;
        justify-self: center;
    }
    .header__title {
        font-size: 2em;
        padding: 10px 0;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .header__name {
        font-size: 2em;
        padding: 0.3em 0 1em 0;
        display: flex;
        justify-content: center;
    }
    .header__nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.4em;
        column-gap: 1em;
    }
    .nav__item {
        width: 100%;
        line-height: 2em;
    }
}

/* ДЕТАЛИЗИРОВАННАЯ РАЗМЕТКА MAIN */

.main__title {
    padding: 0;
    color: var(--third-color);
    font-size: 2em;
}
.main__cards {
    display: grid;
    grid-template: repeat(2, 470px) / repeat(3, 400px);
    gap: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.8);
    color: var(--third-color);
    font-size: 1.4em;
    padding: 1em;
    border-radius: 4px;
}
.card__img {
    width: 70px;
    height: 70px;
}
.card__title {
    margin: 0.8em;
    font-size: 1.4em;
}
.card__text {
    font-size: 1.2em;
    text-align: justify;
    margin: 0.5em;
}

@media (max-width: 1280px) {
    .main__title {
        font-size: 1.5em;
    }
    .main__cards {
        grid-template: repeat(3, 380px) / repeat(2, 370px);
        gap: 30px;
    }
    .card__title {
        font-size: 1.2em;
    }
    .card__text {
        font-size: 1em;
    }
}    
@media (max-width: 800px) {
    .main__title {
        font-size: 1.2em;
        text-align: justify;
    }
    .main__cards {
        grid-template: repeat(6, 300px) / repeat(1, 320px);
        gap: 15px;
    }
    .card__title {
        font-size: 0.9em;
    }
    .card__text {
        font-size: 0.8em;
    }
}

/* ДЕТАЛИЗИРОВАННАЯ РАЗМЕТКА FOOTER */

.footer__social {
    width: 500px;
    padding-left: 20px;
}
.footer__tel {
    width: 500px;
}
.footer__madein {
    width: 260px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-right: 20px;
}
.social__text {
    color: var(--third-color);
    display: block;
    font-weight: 600;
    font-size: 1.2em;
}
.social__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 8px;
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.1s all ease-out;
}
.social__icon:hover,
.social__icon:active,
.social__icon:focus {
    filter: grayscale(0);
    box-shadow: 0 0 2px var(--second-color);
}
.tel__text {
    color: var(--third-color);
    display: block;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
}
.tel__number {
    color: var(--third-color);
    display: block;
    font-weight: 600;
    font-size: 2em;
    text-decoration: none;
    line-height: 2em;
    letter-spacing: 2px;
    text-align: center;
}
.tel__number:hover,
.tel__number:active,
.tel__number:focus {
    color: var(--second-color);
}
.madein__text {
    color: var(--third-color);
}

@media (max-width: 1280px) {
    .footer__social {
        width: 350px;
        padding-left: 15px;
    }
    .footer__tel {
        width: 300px;
    }
    .footer__madein {
        width: 180px;
        font-size: 0.8em;
        padding-right: 15px;
    }
    .social__text {
        font-size: 1em;
    }
    .social__icon {
        margin: 6px;
    }
    .tel__text {
        font-size: 1em;
    }
    .tel__number {
        font-size: 1.6em;
    }
}
@media (max-width: 800px) {
    .footer__social {
        width: 320px;
        padding-left: 20px;
    }
    .footer__tel {
        width: 320px;
        padding-left: 20px;
    }
    .footer__madein {
        width: 320px;
    }
    .social__text {
        color: var(--third-color);
        display: block;
        font-weight: 600;
        font-size: 0.9em;
    }
    .tel__text {
        color: var(--third-color);
        display: block;
        font-weight: 600;
        font-size: 0.9em;
        text-align: left;
    }
    .tel__number {
        font-size: 1.6em;
        line-height: 1.2em;
        letter-spacing: 1.6px;
        text-align: left;
    }
}

/* СТИЛИ РАЗДЕЛА "ВИДЫ РАБОТ" */
.works {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.works__article {
    width: 100%;
    background: rgba(0,0,0,0.8);
    color: var(--third-color);
    border-radius: 5px;
    margin: 20px;
}
.article__title {
    padding-left: 20px;
    font-size: 1.6rem;
}
.article__item {
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    color: var(--first-color);
}
.item__img__block {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.item__img {
    border: 3px solid var(--third-color);
    object-fit: cover;
    width: 405px;
    height: 300px;
    cursor: pointer;
}
.item__descr {
    font-size: 1.2em;
    text-align: justify;
}
@media (max-width: 1280px) {
    .works {
        width: 800px;
    }
    .item__img__block {
        grid-template-columns: repeat(2,1fr);
    }
    .item__img {
        width: 375px;
        height: 235px;
    }
    .item__descr {
        font-size: 0.9em;
    }
}
@media (max-width: 800px) {
    .works {
        width: 320px;
    }
    .works__article {
        margin: 5px;
    }
    .article__item {
        padding: 10px;
    }
    .article__title {
        padding-left: 20px;
        font-size: 1.2rem;
    }
    .item__title {
        font-size: 1rem;
    }
    .item__img__block {
        grid-template-columns: repeat(2,1fr);
    }
    .item__img {
        width: 140px;
        height: 80px;
    }
    .item__descr {
        font-size: 0.9em;
    }
}

/* СТИЛИ ПОЛНОЭРАННОГО ПРОСМОТРА ФОТОГРАФИЙ */

.image-full-screen-viewer {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    display: flex;
    justify-content:center;
    align-items: center;
}
.image-source {
    width: 95vw;
    height: 95vh;
    object-fit: contain;
}
.image-close {
    position: absolute;
    top: 3vh; right: 3vw;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    display: block;
    background: #101321;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

/* СТИЛИ ПРАЙС-ЛИСТА */

.article__price {
    background: rgba(0,0,0,0.8);
    padding: 20px;
}
.article__header {
    color: white;
}
.price {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.price__section {
    color: white;
    display: grid;
    grid-template-columns: 1fr 70px;
    gap: 0;
}
.section__item {
    border-bottom: 1px dashed white;
    line-height: 2em;
}
.item__price {
    justify-self: right;
    font-weight: bold;
    line-height: 2em;
}
@media (max-width: 800px) {
    .price {
        grid-template-columns: repeat(1,1fr);
    }
}